.navbar-collapse {
	flex-grow: 0;
}
.links,
.landing,
.logos {
	background-color: #3b48fa;
}
.links {
	height: 15vh;
}
.landing {
	height: 85vh;
	color: white;
}
.navbar {
	width: 70%;
	margin: auto;
	padding-top: 4%;
}
.how-it-works {
	width: 70%;
	margin: auto;
	padding-top: 4%;
}
.how-it-works-wrapper {
	background-color: #f8f8f8;
}
.landing .row,
.logos .row {
	width: 70%;
	margin: auto;
	padding-top: 2%;
}
.navbar-brand,
.nav-link {
	color: white;
}
.nav-item button {
	width: 115%;
	margin: 0 12%;
	color: #3b48fa !important;
}
.register .nav-link,
.login .nav-link {
	color: #3b48fa;
}
.login {
	border-radius: 28px;
	background-color: white;
	font-family: Poppins, sans-serif;
	color: #3b48fa;
	font-size: 16px;
	font-weight: 500;
	padding: 1.5% 2%;
	text-decoration: none;
	border: none;
}
.register {
	border-radius: 28px;
	background-color: #ffda37;
	font-family: Poppins, sans-serif;
	color: #3b48fa;
	font-size: 16px;
	font-weight: 500;
	padding: 1.5% 2%;
	text-decoration: none;
	border: none;
}
.ml-auto .register .nav-link {
	margin-left: auto !important;
}
.landing h1 {
	margin-top: 10%;
}
.tagline {
	position: absolute;
	bottom: 2px;
	left: 30%;
}
.logos .row .col-lg-2 {
	margin: auto;
	text-align: center;
	margin-bottom: 8%;
}
.logos img {
	width: 150%;
}
.how-it-works h1 {
	text-align: center;
	margin-bottom: 5%;
}
.tabs {
	padding-top: 5%;
	margin: auto;
}
.center {
	text-align: center;
}
.tabs button {
	border: none;
	width: 22.5vw;
	padding: 1% 2%;
	text-align: left;
	border-radius: 4px 4px 0px 0px;
	margin-bottom: 3%;
}
.green-border {
	border-bottom: 5px solid #8af8e7;
}
#panel-1 {
	height: 80vh;
	background-image: url("https://uploads-ssl.webflow.com/6036972e08af561b470b4831/6036972e08af563c060b4857_How-it-works-1%20(2).png");
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	transition: 0.3s;
	border: none;
	background-size: 125%;
}
#panel-2 {
	background-image: url("https://uploads-ssl.webflow.com/6036972e08af561b470b4831/6036972e08af5603c80b4856_How-it-works-3.png");
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	height: 40vw;
	transition: 0.3s;
	border: none;
	background-size: 125%;
}
#panel-3 {
	background-image: url("https://uploads-ssl.webflow.com/6036972e08af561b470b4831/6036972e08af5603c80b4856_How-it-works-3.png");
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	height: 40vw;
	transition: 0.3s;
	border: none;
	background-size: 125%;
}
.peppertype-for {
	width: 80%;
	margin: auto;
	padding-top: 4%;
	margin-bottom: 5%;
}
.peppertype-for h1 {
	text-align: center;
	margin-bottom: 7%;
}
.peppertype-for .row .col-lg-4 {
	margin: auto;
}
.peppertype-for img {
	height: 8%;
	width: 8%;
	margin-bottom: 4.5%;
}
.peppertype-for p {
	padding-right: 2%;
}

.user-review-wrapper {
	background-color: #eef7f1;
}
.user-review {
	width: 88%;
	margin: auto;
	padding-top: 4%;
	min-height: 100vh;
}
.user-review h1 {
	text-align: center;
	margin-bottom: 5%;
}
.user-review .row {
	margin-bottom: 2%;
}

.user-review .stars {
	width: 15%;
	margin-bottom: 5%;
}
.user-review .profile {
	width: 65%;
	display: inline-block;
}
.user-review .row .col-lg-5,
.user-review .row .col-lg-6 {
	margin: auto;
}
.user-review .name {
	margin-bottom: 0;
	font-weight: bold;
}
.col-2 {
	padding-right: 0;
}
.gradient {
	background-image: linear-gradient(310deg, #0a079b, #2233ca 51%, #4284f6);
	margin: auto;
	padding-top: 4%;
}
.gradient .row {
	width: 90%;
	margin: auto;
}
.gradient .col-lg-5,
.gradient .col-lg-6 {
	margin: auto;
	margin-bottom: 6%;
}
.gradient .col-lg-6 {
	margin-bottom: 6%;
	margin-top: 3%;
}
.gradient .col-lg-4 {
	text-align: right;
	margin: 0;
	padding: 0;
}
.gradient h1 {
	margin-top: 5%;
	color: white;
}
.gradient p {
	margin-top: 2%;
	color: white;
}
.gradient img {
	width: 100%;
	text-align: right;
}
.gradient .register {
	margin: 3.5% 0;
}
.footer .row {
	width: 95%;
	margin: auto;
	margin-top: 3%;
}
.footer .plogo {
	width: 60%;
	margin-bottom: 4%;
}
.footer .plogo2 {
	width: 20%;
}
.footer col-lg-3 {
	margin: 5%;
}
.footer .company {
	margin: 0;
	padding: 0.4%;
}
